<!doctype html>
<html lang="{{language}}">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>{{resume.basics.name}}</title>

  <link href="https://jsonresume.org/favicon.png" rel="shortcut icon">
  <script src="https://use.fontawesome.com/ac952219e9.js"></script>

  {{{css}}}
</head>

<body>

  <header class="container content">
    <div class="row">

      <!-- BASIC INFORMATION -->
      {{#resume.basics}}
        <div class="twelve columns">

          {{#if picture}}
            <img src="{{picture}}" alt="CV image" id="cv-image">
          {{/if}}

          <h1>{{name}}</h1>

          {{#if label}}
            <div class="impact">{{label}}</div>
          {{/if}}

          {{#location}}
            <div id="area">
              <i class="fa fa-map-marker" aria-hidden="true"></i>{{get_pretty_location @this}}
            </div>
          {{/location}}

          <ul class="unstyled">
            {{#if email}}
              <li>
                <strong>
                  {{@root.t.email}}
                </strong> {{email}}
              </li>
            {{/if}}
            {{#if phone}}
              <li>
                <strong>
                  {{@root.t.phone}}
                </strong> {{phone}}
              </li>
            {{/if}}
            {{#location}}
              <li>
                {{#if address}}
                  <strong>
                    {{@root.t.address}}
                  </strong> {{address}}, {{postalCode}} {{city}}
                {{/if}}
              </li>
            {{/location}}
          </ul>
        </div>

        {{#if summary}}
          <div class="twelve columns">
            <p id="summary">
              {{summary}}
            </p>
          </div>
        {{/if}}

        {{#if profiles}}
          <div class="twelve columns">
            <ul class="unstyled">
              {{#if website}}
                <li>
                  <a href="{{website}}" target="_blank">
                    <i class="fa fa-globe" aria-hidden="true"></i>{{website}}
                  </a>
                </li>
              {{/if}}
              {{#each profiles}}
                <li>
                  <a href="{{url}}" target="_blank">
                    <i class="fa fa-{{get_network_class network}}" aria-hidden="true"></i>@{{username}}
                  </a>
                </li>
              {{/each}}
            </ul>
          </div>
        {{/if}}
      {{/resume.basics}}
      <!-- /BASIC INFOMATION -->

    </div>
  </header>

  <main class="container content">

    <!-- WORK -->
    {{#if resume.work.length}}
      <section class="row">
        <div id="work" class="twelve columns item">
          <h2>{{@root.t.experience}}</h2>

          {{#each resume.work}}
            <article class="row">
              <header class="four columns">
                {{#if company}}
                  <h3>
                    {{#if website}}
                      <a href="{{website}}" target="_blank">{{company}}</a>
                    {{else}}
                      {{company}}
                    {{/if}}
                  </h3>
                {{/if}}

                {{#if position}}
                  <strong>{{position}}</strong>
                  <br>
                {{/if}}

                {{{get_work_date @this}}}
              </header>

              <div class="eight columns">
                {{#if summary}}
                  <p>{{summary}}</p>
                {{/if}}

                {{#if highlights.length}}
                  <ul>
                    {{#each highlights}}
                      <li>{{@this}}</li>
                    {{/each}}
                  </ul>
                {{/if}}
              </div>
            </article>
          {{/each}}
        </div>
      </section>
    {{/if}}
    <!-- /WORK -->

    <!-- EDUCATION -->
    {{#if resume.education.length}}
      <section class="row">
        <div id="education" class="twelve columns item">
          <h2>{{@root.t.education}}</h2>

          {{#each resume.education}}
            <article class="row">
              {{#if courses.length}}
                <header class="four columns">
              {{else}}
                <header class="twelve columns">
              {{/if}}


              {{#if institution}}
                <h3>{{institution}}</h3>
              {{/if}}

              {{#if area}}
                <strong>{{area}}</strong>
                <br>
              {{/if}}

              {{#if studyType}}
                {{studyType}}
                <br>
              {{/if}}

              {{{get_work_date @this}}}
              </header>

              {{#if courses.length}}
                <div class="eight columns">
                  <ul>
                    {{#each courses}}
                      <li>{{@this}}</li>
                    {{/each}}
                  </ul>
                </div>
              {{/if}}
            </article>
          {{/each}}
        </div>
      </section>
    {{/if}}
    <!-- /EDUCATION -->

    <!-- SKILLS -->
    {{#if resume.skills.length}}
      <section class="row">
        <div id="skills" class="twelve columns item">
          <h2>{{@root.t.skills}}</h2>

          {{#each resume.skills}}
            {{#if_new_row @index}}
              <div class="row no-padding">
            {{/if_new_row}}

            <article class="four columns">
              <h3>
                {{name}}
                {{#if level}}
                  <span class="level">({{level}})</span>
                {{/if}}
              </h3>

              {{#if keywords.length}}
                <ul>
                  {{#each keywords}}
                    <li>{{@this}}</li>
                  {{/each}}
                </ul>
              {{/if}}
            </article>

            {{#if_end_row @index}}
              </div>
            {{/if_end_row}}
          {{/each}}
        </div>
      </section>
    {{/if}}
    <!-- /SKILLS -->

    <!-- LANGUAGES -->
    {{#if resume.languages.length}}
      <section class="row">
        <div id="languages" class="twelve columns item">
          <h2>{{@root.t.languages}}</h2>

          {{#each resume.languages}}
            {{#if_new_row @index}}
              <div class="row no-padding">
            {{/if_new_row}}

            <article class="four columns">
              <h3>{{language}}</h3>
              <p>{{fluency}}</p>
            </article>

            {{#if_end_row @index}}
              </div>
            {{/if_end_row}}
          {{/each}}
        </div>
      </section>
    {{/if}}
    <!-- /LANGUAGES -->

    <!-- INTERESTS -->
    <!-- /INTERESTS -->
  </main>
</body>

</html>
