<!doctype html>
<html lang="{{language}}">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>{{resume.basics.name}}</title>

  <link href="https://jsonresume.org/favicon.png" rel="shortcut icon">
  <script src="https://use.fontawesome.com/ac952219e9.js"></script>

  {{{css}}}
</head>

<body>

  <div class="container content">
    <header class="row">
      {{#resume.basics}}
        <div class="twelve columns">

          {{#if picture}}
            <img src="{{picture}}" alt="CV image" id="cv-image">
          {{/if}}

          <h1>{{name}}</h1>

          {{#if label}}
            <div id="label">{{label}}</div>
          {{/if}}

          {{#location}}
            <div id="area">
              <i class="fa fa-map-marker" aria-hidden="true"></i>{{region}}, {{countryCode}}
            </div>
          {{/location}}

          <ul class="unstyled">
            {{#if email}}
              <li>
                <strong>
                  {{@root.t.email}}
                </strong> {{email}}
              </li>
            {{/if}}
            {{#if phone}}
              <li>
                <strong>
                  {{@root.t.phone}}
                </strong> {{phone}}
              </li>
            {{/if}}
            {{#location}}
              <li>
                {{#if address}}
                  <strong>
                    {{@root.t.address}}
                  </strong> {{address}}, {{postalCode}} {{city}}
                {{/if}}
              </li>
            {{/location}}
          </ul>
        </div>

        {{#if summary}}
          <div class="twelve columns">
            <p class="summary">
              {{summary}}
            </p>
          </div>
        {{/if}}

        {{#if profiles}}
          <footer>
            <ul class="unstyled">
              {{#each profiles}}
                <li>
                  <a href="{{url}}" target="_blank">
                    <i class="fa fa-{{get_network_class network}}" aria-hidden="true"></i>{{url}}
                  </a>
                </li>
              {{/each}}
            </ul>
          </footer>
        {{/if}}
      {{/resume.basics}}
    </header>

  </div>

  <div class="container content">
    <main class="row">
      <div class="twelve columns">
        <h2>{{@root.t.experience}}</h2>
      </div>
    </main>
  </div>
</body>

</html>
