<!doctype html>
<html lang="{{language}}">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>{{resume.basics.name}}</title>

  <link href="https://jsonresume.org/favicon.png" rel="shortcut icon">
  <script src="https://use.fontawesome.com/ac952219e9.js"></script>

  {{{css}}}
</head>

<body>

  <div id="content" class="container">
    <header class="row">
      {{#resume.basics}}
        <div class="twelve columns">
          <img src="{{picture}}" alt="CV image" id="cv-image">

          <h1>{{name}}</h1>
          <div id="label">{{label}}</div>

          {{#location}}
            <div id="area">
              <i class="fa fa-map-marker" aria-hidden="true"></i>{{region}}, {{countryCode}}
            </div>
          {{/location}}

          <ul class="unstyled">
            {{#if email}}
              <li>
                <strong>
                  {{@root.t.email}}
                </strong> {{email}}
              </li>
            {{/if}}
            {{#if phone}}
              <li>
                <strong>
                  {{@root.t.phone}}
                </strong> {{phone}}
              </li>
            {{/if}}
            {{#location}}
              <li>
                {{#if address}}
                  <strong>
                    {{@root.t.address}}
                  </strong> {{address}}, {{postalCode}} {{city}}
                {{/if}}
              </li>
            {{/location}}
          </ul>
        </div>

        <div class="twelve columns">
          {{#if summary}}
            <p class="summary">
              {{summary}}
            </p>
          {{/if}}
        </div>
      {{/resume.basics}}
    </header>

    <main>
      {{#if website}}
        <li>
          <strong>{{@root.t.website}}</strong> {{website}}
        </li>
      {{/if}}
    </main>

    <footer>
      <ul class="unstyled">
        {{#each resume.basics.profiles}}
          <li>
            <a href="{{url}}" target="_blank">
              <i class="fa fa-{{get_network_class network}}" aria-hidden="true"></i>{{url}}
            </a>
          </li>
        {{/each}}
      </ul>
    </footer>
  </div>
</body>

</html>
